{% extends "base.html"%}
{% load static %}
{% block content %}
{% block extra_css %} <link href="{% static 'about_style/style.css' %}"rel ="stylesheet" type="text/css"> {% endblock %}
<h1> this is the about page </h1>
<h2> one more heading added to the about page</h2>
<h3> one more heading h3 added to the about page</h3>
<p> now im working on the features/index branch individually </p>

<h1> next heading added to the about page on 10th line </h1>
<h2> one more heading </h2>


<p> next line added</p>

<p> this is the new line </p>

<h1> this is the neew heading for the feature/index</h1>

{% endblock %}

