{% extends "base.html"%}
{% load static%}
{% block content %}

<div class = 'container my-5'>
    <h1 class = 'text-center'> CONTACT US </h1>
    <form method = 'POST' action = '/upload_product' enctype = 'multipart/form-data'>
      {% csrf_token %}
  <div class="mb-3">
    <label for="title" class="form-label">title</label>
    <input type="text" class="form-control" id="title" name = 'title'>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">description</label>
    <input type="text" class="form-control" id="description" name = 'description'>
  </div>
  <div class="mb-3">
    <label for="img" class="form-label">image</label>
    <input type="file" class="form-control" id="img" name = 'img'>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}

